﻿@using System.Security.Claims
@model IEnumerable<PracticaMvcCore2JhonFlores.Models.Libro>

@{
    ViewData["Title"] = "LibrosGuardamos";
}

<h1>LibrosGuardamos</h1>

<p>
    <a asp-action="Index" class="btn btn-dark">Back</a>
</p>
<p>
    <a asp-controller="Libros" asp-action="FinalizarCompra" class="btn btn-success" asp-route-idusuario="@Context.User.FindFirst("ID").Value">Finalizar Compra</a>
</p>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdLibro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Autor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Editorial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Portada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdLibro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Autor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Editorial)
                    </td>
                    <td>
                        <img src="~/images/@item.Portada" style="width:200px;height:200px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio) $
                    </td>
                    <td>
                        <a asp-controller="Libros" asp-action="LibrosGuardamos" asp-route-ideliminar="@item.IdLibro" class="btn btn-danger">Quitar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3 style="color:red">
        Aun no tienes almacenamos
    </h3>
}